<div class="card">
  <img [src]="product?.imgSrc" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">
      {{ product?.name || "Default Product Name" }}
    </h5>
    @if (previousBookName) {
    <h5 class="card-title text-success">
      Previous Book Name : {{ previousBookName }}
    </h5>
    }

    <p class="card-text lead">Price : {{ product?.price }}</p>
    <a
      href="#"
      (click)="removeProduct(product?.id)"
      class="btn btn-outline-danger"
      >Remove Product</a
    >
  </div>
</div>
