* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*
    = 500 +  10 + 10 + 10 + 10 == 540
    width = width + paddingLeft+paddingRight + borderLeft + borderRight
    height = height + paddingTop + paddingBottom + borderTop+borderBottom

*/
/* h1 {
	width: 100%;
	height: 100px;
	background-color: #ccc;
	padding: 10px;
	border: 20px solid;
} */
/* 
.container {
	width: 50%;
	height: 900px;
	background-color: #ccc;
	margin: 50px auto;
	display: flex;
}
.container > div {
	height: 50px;
	width: 50px;
	color: #fff;
}
.item1 {
	background-color: rgb(61, 14, 98);
}

.item2 {
	background-color: rgb(21, 58, 21);
}
.item3 {
	background-color: rgb(14, 14, 44);
}
.item4 {
	background-color: rgb(65, 89, 16);
} */

.first {
	width: 300px;
	height: 300px;
	background-color: blueviolet;
	margin: 50px auto;
}
.second {
	width: 200px;
	height: 200px;
	background-color: rgb(14, 59, 25);
	position: relative;
}
.third {
	width: 100px;
	height: 100px;
	background-color: rgb(6, 6, 6);
	position: absolute;
}

.header {
	width: 100%;
	background-color: #000;
	color: #fff;
	padding: 20px;
	position: fixed;
}

.end {
	background-color: aqua;
}
