<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Aplus</title>
		<link rel="stylesheet" href="style.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div class="header">
			<div class="container">
				<div class="logo">
					<img src="./images/logo.png" alt="" />
					<h2><span>A</span>Plus</h2>
				</div>
				<div class="menu">
					<ul>
						<li><a href="#home">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Testimonial</a></li>
						<li><a href="#">Blog</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="slider">
			<div class="container">
				<div class="sliderImg">
					<img src="./images/top_img.png" alt="" />
				</div>
				<div class="sliderInfo">
					<h1>Become the Architect of Your future Business</h1>
					<input type="text" placeholder="search text here ..." />
					<button>Search Now</button>
				</div>
			</div>
			<div class="toggle">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<div class="slider">
			<div class="container">
				<div class="sliderInfo">
					<h1>More than 50% of innvation comes from voice Of customers</h1>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab amet in
						perspiciatis minima dolor inventore. Rerum illo, ducimus optio
						quaerat, amet, tempora odit laudantium recusandae aut alias animi!
						Eum, provident.
					</p>
					<button>Search Now</button>
				</div>
				<div class="sliderImg">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3435.6929492898353!2d31.016314775081185!3d30.557978094058285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f7d7223ff2d63f%3A0x9d531b61c0ebb81b!2sITI%20Menofia%20Branch%2C%20Creativa!5e0!3m2!1sen!2seg!4v1722760477519!5m2!1sen!2seg"
						width="600"
						height="450"
						style="border: 0"
						allowfullscreen=""
						loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"
					></iframe>
				</div>
			</div>
		</div>
	</body>
</html>
